extends layout

block content
  div(class="leaveform")
    form(action="",id="lreq",name="leave")
      table
        tr
          td
            label(for="id") ID:
          td
            input(type="text",id="id",value=`${session.user}`,class="lformelement",readonly)
        tr
          td
            label(for="prog") Programme:
          td
            input(type="text",value=`${session.prog}`,id="prog",class="lformelement",readonly)
        tr
          td
            label(for="year") Year of Joining:
          td
            input(type="text",value=`${session.year}`,id="yoj",class="lformelement",readonly)
        tr
          td
            label(for="sem") Semester:
          td
            input(type="text",value=`${session.sem}`,id="sem",class="lformelement",readonly)
        tr
          td
            label(for="from") From:
          td
            input(type="date",min=date,value=date,id="from",class="lformelement",required)
        tr
          td
            label(for="to") To:
          td
            input(type="date",min=date,id="to",class="lformelement",required)
        tr
          td
            label(for="event") Event:
          td
            input(type="text",placeholder="Enter Event",id="event",class="lformelement",required)
    input(type="submit",form="leave",id="req",class="btn btn-cus")